[package]
name = "dustcfg"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
regex = "1.7.1"
serde = { version = "1.0.154", features = ["derive"] }
serde_json = "1.0.94"
